In [13]:
import pandas as pd
print(pd.__version__)

3.0.0

In [14]:
df = pd.read_csv("Salary_Data.csv")
print(df.head(8))

    Age  Gender Education Level          Job Title  Years of Experience  \
0  32.0    Male      Bachelor's  Software Engineer                  5.0
1  28.0  Female        Master's       Data Analyst                  3.0
2  45.0    Male             PhD     Senior Manager                 15.0
3  36.0  Female      Bachelor's    Sales Associate                  7.0
4  52.0    Male        Master's           Director                 20.0
5  29.0    Male      Bachelor's  Marketing Analyst                  2.0
6  42.0  Female        Master's    Product Manager                 12.0
7  31.0    Male      Bachelor's      Sales Manager                  4.0

     Salary
0   90000.0
1   65000.0
2  150000.0
3   60000.0
4  200000.0
5   55000.0
6  120000.0
7   80000.0

In [15]:
print(df.info())

<class 'pandas.DataFrame'>
RangeIndex: 6703 entries, 0 to 6702
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6702 non-null   float64
 1   Gender               6702 non-null   str
 2   Education Level      6701 non-null   str
 3   Job Title            6702 non-null   str
 4   Years of Experience  6701 non-null   float64
 5   Salary               6699 non-null   float64
dtypes: float64(3), str(3)
memory usage: 314.3 KB
None

In [16]:
new_df = df.dropna() # jadvaldan bo'sh katakli qatorlarni olib tashlaydi. (inplace = True) qilinsa asosiy fileni o'zini o'gartiradi.
print(new_df.info())

<class 'pandas.DataFrame'>
Index: 6698 entries, 0 to 6702
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6698 non-null   float64
 1   Gender               6698 non-null   str
 2   Education Level      6698 non-null   str
 3   Job Title            6698 non-null   str
 4   Years of Experience  6698 non-null   float64
 5   Salary               6698 non-null   float64
dtypes: float64(3), str(3)
memory usage: 366.3 KB
None

In [17]:
df_salary_avg = df['Salary'].mean()
print(df_salary_avg.round())
df.fillna({"Salary": 0}, inplace=True) # bo'sh kataklarni qiymat bilan to'ldirish.
print(df.info())

115327.0
<class 'pandas.DataFrame'>
RangeIndex: 6703 entries, 0 to 6702
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6702 non-null   float64
 1   Gender               6702 non-null   str
 2   Education Level      6701 non-null   str
 3   Job Title            6702 non-null   str
 4   Years of Experience  6701 non-null   float64
 5   Salary               6703 non-null   float64
dtypes: float64(3), str(3)
memory usage: 314.3 KB
None

In [19]:
df_age_avg = df['Age'].mean()
df_age_mode = df["Age"].mode()
df_age_median = df['Age'].median()
print("Yosh o'rtachasi:", df_age_avg)
print("Yosh modasi:", df_age_mode)
print("Yosh median:", df_age_median)

Yosh o'rtachasi: 33.62085944494181
Yosh modasi: 0    27.0
Name: Age, dtype: float64
Yosh median: 32.0